################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pandora.Cases.AcceptanceTest/.vs/Pandora.Cases.AcceptanceTests/v15
/Pandora.Cases.AcceptanceTest/bin/Debug
/Pandora.Cases.AcceptanceTest/obj/Debug
/Pandora.Cases.AcceptanceTest/packages
